﻿@using System.Globalization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/font")
    @RenderSection("styles", required: false)
</head>
<body class="skin-mtl sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="@Url.Action("Index","Home")" class="logo">
                <span class="logo-mini"><b>M</b>TL</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Template</b>Web</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true" style="display:inline-flex;">
                                <img src="~/Images/boy-32x32.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">FirstName LastName</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <p>
                                        FirstName LastName
                                        <small>Information Technology Service Department</small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                    </ul>
                </div>
            </nav>
        </header>

        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar" style="height: auto;">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    <li class="header">เมนูหลัก</li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-files-o"></i>
                            <span>Layout</span>
                            <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="@Url.Action("IndexTop","Home")"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
                        </ul>
                    </li>
        
                    <li class="header">Demo Menu</li>
                    <li class=""><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Demo Menu 1</span></a></li>
                    <li class=""><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Demo Menu 2</span></a></li>
                    <li class=""><a href="#"><i class="fa fa-circle-o text-success"></i> <span>Demo Menu 3</span></a></li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>

        <div class="content-wrapper">
            @RenderBody()
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version &nbsp; @Systems.GetAssemblyVerion()</b>
            </div>
            <strong>สงวนลิขสิทธิ์ &copy; พ.ศ. @(DateTime.Now.ToString("yyyy", new CultureInfo("th-TH"))) บริษัท เมืองไทยประกันชีวิต จำกัด (มหาชน)</strong>
        </footer>
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @Scripts.Render("~/bundles/pluginLTE")
    @Scripts.Render("~/bundles/pluginJS")
    @RenderSection("scripts", required: false)
</body>
</html>
