﻿.pagination > .active > a {
    background-color: #ec008c !important;
    border-color: #ec008c !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #EC008C !important;
}

.select2-container--default .select2-selection--single {
    border-radius: 0 !important;
    border-color: #d2d6de !important;
}

.datepicker table tr td.today {
    background-color: #ffd4ee !important;
    color: #000000 !important;
    border-color: #ffd4ee !important;
}

.datepicker table tr td.active.active, .daterangepicker td.active, .datepicker table tr td span.active.active {
    background-color: #EC008C !important;
    color: #ffffff !important;
    border-color: #EC008C !important;
}
.main-header > .navbar {
    max-height: 50px;
}